doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    title cordx56's template
    meta(http-equiv="content-type",content="text/html; charset=utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(type="text/css",rel="stylesheet",href="index.css")

  body
    .wrapper
      h1 cordx56's static web page template
      p
        a(href="https://github.com/cordx56/cordx56-static-web-template/") https://github.com/cordx56/cordx56-static-web-template/
      p
        a(href="https://cordx.net/") cordx.net
